vscode-extension-samples-main/
huggingface-vscode-chat-main/
vscode-copilot-chat-main/

config.yaml

custom-copilot-provider/node_modules/
custom-copilot-provider/out/

*.vsix
.DS_Store
.vscode-test/
.vscode/
